openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Onboarding API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Onboarding
paths:
  /customers/{customerId}/onboarding/createMerchant:
    post:
      tags:
      - Onboarding
      summary: Create Merchant
      description: Creates a new merchant for the specified customer. This is the first step in the onboarding process and will only be called if canRunCompliance capability is set to true.
      operationId: createMerchant
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMerchantRequest'
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkVoidResponse'
        '404':
          description: CUSTOMER_NOT_FOUND
  /customers/{customerId}/onboarding/client/{clientId}/hostedOnboarding:
    post:
      tags:
      - Onboarding
      summary: Get Hosted Onboarding Link for a Merchant
      description: Returns a link that will allow a merchant to complete the onboarding process. This is the second step in the onboarding process and will only be called if canRunCompliance capability is set to true.
      operationId: hostedOnboarding
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostedOnboardingRequest'
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkHostedOnboardingResponse'
        '404':
          description: CUSTOMER_NOT_FOUND
  /customers/{customerId}/onboarding/{clientId}:
    put:
      tags:
      - Onboarding
      summary: Update Merchant
      description: ''
      operationId: updateEndUser
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkVoidResponse'
        '404':
          description: CUSTOMER_NOT_FOUND
  /customers/{customerId}/onboarding/{clientId}/updateEnduser:
    put:
      tags:
      - Onboarding
      summary: Update Merchant Directors
      description: ''
      operationId: updateEndUserDirectors
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkVoidResponse'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomException'
components:
  schemas:
    ToqioHttpOkVoidResponse:
      type: object
      properties:
        data:
          type: object
          writeOnly: true
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    HostedOnboardingRequest:
      type: object
      properties:
        locale:
          type: string
          example: en-GB
        redirectUrl:
          type: string
    ToqioHttpOkHostedOnboardingResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/HostedOnboardingResponse'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    CustomException:
      type: object
      properties:
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
        errorOrigin:
          type: string
    UpdateClientRequest:
      type: object
      properties:
        id:
          type: string
        cif:
          type: string
        industryCode:
          type: string
          deprecated: true
        businessCode:
          type: string
        endUserId:
          type: string
        citizenship:
          type: string
        docIdType:
          type: string
        docIdIssuedAt:
          type: string
          format: date-time
        docIdNumber:
          type: string
        docIdCountry:
          type: string
        clientType:
          type: string
          enum:
          - BUSINESS
          - CONSUMER
    SignUpRequest:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        cif:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        partnerProduct:
          type: string
          enum:
          - Railsbank-Direct-Debit-1
          - Railsbank-KYC-5
          - PayrNet-Multi-CCY-1
          - Goldbloc-Conversion-1
          - Railsbank-AML-Screening-1
          - Onfido-IDV-1
          - Railsbank-Debit-Card-1
          - Railsbank-Debit-Card-2
          - Railsbank-Virtual-1
          - Railsbank-Identity-and-Verification-Service-1
          - ExampleBank-Direct-Debit-1
          - PayrNet-FX-1
          - Railsbank-Debit-Card-3
          - Railsbank-Credit-Card-1
          - Railsbank-Conversion-1
          - Banking-EU-1
          - ExampleBank-EUR-1
          - ExampleBank-FX-1
          - ExampleBank-GBP-1
          - ExampleBank-GBP-2
          - PayrNet-EUR-1
          - PayrNet-EUR-3
          - PayrNet-GBP-1
          - PayrNet-GBP-2
          - PFS-EUR
          - MODULR-GBP
          - MODULR-EUR
          - CLEARBANK_GBP
          - CLEARBANK_EUR
          - CLEARBANK_CHF
          - CLEARBANK_CZK
          - CLEARBANK_DKK
          - CLEARBANK_HUF
          - CLEARBANK_NOK
          - CLEARBANK_PLN
          - CLEARBANK_RON
          - CLEARBANK_SEK
          - CLEARBANK_USD
          - Railsbank-USD-Credit-1
          - Railsbank-KYC-1
          - Railsbank-KYC-2
          - Railsbank-Rewards-1
          - LOOMIS_EUR
        countryCode:
          type: string
        postalCode:
          type: string
        clientType:
          type: string
          enum:
          - BUSINESS
          - CONSUMER
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        subOrganisationType:
          type: string
          enum:
          - SOLE_TRADER
          - LIMITED
          - PARTNERSHIP
          - CHARITY
          - PUBLIC_LIMITED
          - ASSOCIATION
          - SUPPORT_GROUP
          - NON_REG_PARTNERSHIP
          - NOT_YET_REGISTERED
      required:
      - id
      - email
      - endUserId
      - registrationDate
    CreateMerchantRequest:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        cif:
          type: string
        countryCode:
          type: string
        postalCode:
          type: string
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        businessCode:
          type: string
        currencies:
          type: array
          items:
            type: string
            enum:
            - aud
            - chf
            - cad
            - sek
            - usd
            - nok
            - jpy
            - nzd
            - gold
            - gbp
            - eur
            - czk
            - dkk
            - huf
            - pln
            - ron
            - ils
            - rub
            - bhd
            - sar
            - bgn
            - kes
            - sgd
            - kwd
            - zar
            - cny
            - myr
            - hrk
            - mxn
            - thb
            - try
            - omr
            - ugx
            - hkd
            - php
            - aed
            - inr
            - qar
            - idr
        subOrganisationType:
          type: string
          enum:
          - SOLE_TRADER
          - LIMITED
          - PARTNERSHIP
          - CHARITY
          - PUBLIC_LIMITED
          - ASSOCIATION
          - SUPPORT_GROUP
          - NON_REG_PARTNERSHIP
          - NOT_YET_REGISTERED
        directors:
          type: array
          items:
            $ref: '#/components/schemas/Director'
        legalPhoneNumber:
          type: string
        statementDescriptor:
          type: string
          description: It will appear on the end customer's bank or card statement, if supported by the banking service provider, to help identifying a transaction.
      required:
      - id
      - cif
      - name
      - subOrganisationType
    HostedOnboardingResponse:
      type: object
      properties:
        link:
          type: string
    Director:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date-time
          description: yyyy-MM-dd'T'HH:mm:ss.SSS'Z
        countryOfResidence:
          type: string
        postalCode:
          type: string
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        email:
          type: string
          format: email
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
