openapi: 3.2.0
info:
  title: Revenue Collections Receive request payment API
  description: Endpoints to manage the revenue collections
  version: v1.0.0
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Receive request payment
paths:
  /customers/{customerId}/revenue/account:
    post:
      tags:
      - Receive request payment
      summary: Add payment account details
      operationId: createCustomerAccount_1
      description: This endpoint allows customers to add their bank account information for receiving invoice payments. Each customer can add one account per currency, ensuring that payments are routed to the appropriate account based on the currency of the transaction.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerAccountDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomerAccountDTO'
  /customers/{customerId}/revenue/accounts:
    get:
      tags:
      - Receive request payment
      summary: Get payment accounts
      operationId: getRevenueAccounts_1
      description: This endpoint allows customers to retrieve a list of their bank account details that have been added for receiving invoice payments. Customers can view the accounts associated with different currencies.
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccountDTO'
components:
  schemas:
    CustomerAccountDTO:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        assetType:
          type: string
          enum:
          - gbp
          - eur
          - aud
          - chf
          - cad
          - sek
          - usd
          - points
          - nok
          - jpy
          - sgd
          - nzd
          - czk
          - dkk
          - huf
          - pln
          - ron
          - ils
          - rub
          - bhd
          - sar
          - bgn
          - kes
          - kwd
          - zar
          - cny
          - myr
          - hrk
          - mxn
          - thb
          - try
          - omr
          - ugx
          - hkd
          - php
          - aed
          - inr
          - qar
          - idr
        bankCountry:
          type: string
        iban:
          type: string
        ukAccountNumber:
          type: string
        ukSortCode:
          type: string
        bicSwift:
          type: string
        bank:
          type: string
        accountType:
          type: string
          enum:
          - REVENUE
    CreateCustomerAccountDTO:
      type: object
      properties:
        ukAccountNumber:
          pattern: ^(\d){7,8}$
          type: string
        ukSortCode:
          pattern: \D{6}$
          type: string
        iban:
          type: string
        assetType:
          type: string
          enum:
          - gbp
          - eur
          - aud
          - chf
          - cad
          - sek
          - usd
          - points
          - nok
          - jpy
          - sgd
          - nzd
          - czk
          - dkk
          - huf
          - pln
          - ron
          - ils
          - rub
          - bhd
          - sar
          - bgn
          - kes
          - kwd
          - zar
          - cny
          - myr
          - hrk
          - mxn
          - thb
          - try
          - omr
          - ugx
          - hkd
          - php
          - aed
          - inr
          - qar
          - idr
        bankCountry:
          type: string
x-source-pages:
- https://platform.toq.io/reference/changestatus_1
- https://platform.toq.io/reference/createcustomeraccount_1
- https://platform.toq.io/reference/getrevenueaccounts_1
- https://platform.toq.io/reference/getrevenuedetails_1
- https://platform.toq.io/reference/getrevenuefilters_1
- https://platform.toq.io/reference/payrevenue
- https://platform.toq.io/reference/saveandsendnotification_1
- https://platform.toq.io/reference/validateandconvertfile_1
