openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account User credentials API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: User credentials
paths:
  /customers/{customerId}/credentials/generateCustomerKey:
    post:
      tags:
      - User credentials
      summary: Generate customer key
      description: Allow to generate a key to encript the credentials data. You must keep it in a secure place as we do not have access to it. If you lose it, you will need to contact the support team to generate a new one.
      operationId: customerKey
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/securityCode:
    post:
      tags:
      - User credentials
      summary: Create security code
      description: Allow the user to set up their own security code.
      operationId: setCredentialsSecurityCode
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialSecurityCodeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/password:
    post:
      tags:
      - User credentials
      summary: Create password
      description: Allow the user to set up their password.
      operationId: setUserPassword
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialPasswordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/securityQuestions:
    post:
      tags:
      - User credentials
      summary: Create security questions
      description: Allow the user to set up their own security question answers. This is only required to Modulr customer
      operationId: userCredentialSecurityQuestion
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialSecurityQuestionsDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/username:
    post:
      tags:
      - User credentials
      summary: Create username
      description: Allow the user to set up their own username
      operationId: userCredentialsUsername
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialUsernameDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
components:
  schemas:
    UserCredentialSecurityQuestionsDTO:
      required:
      - transactionId
      type: object
      properties:
        transactionId:
          type: string
          description: Version 4 UUID
        firstPetName:
          type: string
        maternalGrandmotherMaidenName:
          type: string
        favoriteChildhoodFriend:
          type: string
        firstCar:
          type: string
        cityParentsMet:
          type: string
    UserCredentialPasswordDTO:
      required:
      - password
      - transactionId
      type: object
      properties:
        password:
          type: string
          description: Encrypted password
        transactionId:
          type: string
          description: Version 4 UUID
    UserCredentialSecurityCodeDTO:
      required:
      - securityCode
      - transactionId
      type: object
      properties:
        securityCode:
          type: string
          description: Encrypted security code
        transactionId:
          type: string
          description: Version 4 UUID
    UserCredentialUsernameDTO:
      required:
      - transactionId
      - username
      type: object
      properties:
        username:
          type: string
          description: Username without encryption
        transactionId:
          type: string
          description: Version 4 UUID
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
