openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Lending - Lender API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Lending - Lender
paths:
  /customers/{customerId}/lending/lender:
    post:
      tags:
      - Lending - Lender
      summary: Create a lender configuration
      description: ''
      operationId: createLenderConfiguration
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      - name: lenderConfigurationRequest
        in: query
        description: Lender configuration request. Cannot be null.
        required: true
        schema:
          $ref: '#/components/schemas/LenderConfigurationBaseRequest'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LenderConfigurationBaseRequest'
        required: true
      responses:
        '200':
          description: Lender configuration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkLenderConfigurationBaseResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
    get:
      tags:
      - Lending - Lender
      summary: Get a lender configuration
      description: ''
      operationId: getLenderConfiguration
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lender configuration retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkLenderConfigurationBaseResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
    put:
      tags:
      - Lending - Lender
      summary: Update a lender configuration
      description: ''
      operationId: updateLenderConfiguration
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      - name: lenderConfigurationRequest
        in: query
        description: Lender configuration request. Cannot be null.
        required: true
        schema:
          $ref: '#/components/schemas/LenderConfigurationBaseRequest'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LenderConfigurationBaseRequest'
        required: true
      responses:
        '200':
          description: Lender configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkLenderConfigurationBaseResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
components:
  schemas:
    LenderConfigurationBaseResponse:
      type: object
      properties:
        id:
          type: string
        productTypes:
          type: array
          items:
            type: string
            enum:
            - CASH_ADVANCE
            - SHORT_TERM_LOAN
        privacyUrl:
          type: string
        webhookUrl:
          type: string
        key:
          type: string
    LenderConfigurationBaseRequest:
      type: object
      properties:
        id:
          type: string
        productTypes:
          type: array
          items:
            type: string
            enum:
            - CASH_ADVANCE
            - SHORT_TERM_LOAN
        privacyUrl:
          type: string
        webhookUrl:
          type: string
        key:
          type: string
    ToqioHttpOkLenderConfigurationBaseResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LenderConfigurationBaseResponse'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
