openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Merchant API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Merchant
paths:
  /customers/{customerId}/clients/{clientId}:
    get:
      tags:
      - Merchant
      summary: Get merchant details
      description: Deprecated
      operationId: getCompany
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkClientResponse'
        '400':
          description: ERROR_CLIENT_NOT_FOUND
        '404':
          description: Company not found
        '500':
          description: Internal server error
  /customers/{customerId}/clients/validate:
    post:
      tags:
      - Merchant
      summary: Validate a merchant
      description: ''
      operationId: validateCompany
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCompanyRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkVoidResponse'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
components:
  schemas:
    ClientResponse:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        customerId:
          type: string
        createdAt:
          type: string
          format: date-time
        clientType:
          type: string
          enum:
          - BUSINESS
          - CONSUMER
    ToqioHttpOkVoidResponse:
      type: object
      properties:
        data:
          type: object
          writeOnly: true
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    ValidateCompanyRequest:
      type: object
      properties:
        accountPurposes:
          uniqueItems: true
          type: array
          items:
            type: string
        expectedVolume:
          $ref: '#/components/schemas/ExpectedVolume'
        clientType:
          type: string
          enum:
          - BUSINESS
          - CONSUMER
    ExpectedVolume:
      type: object
      properties:
        currency:
          type: string
          enum:
          - aud
          - chf
          - cad
          - sek
          - usd
          - nok
          - jpy
          - nzd
          - gold
          - gbp
          - eur
          - czk
          - dkk
          - huf
          - pln
          - ron
          - ils
          - rub
          - bhd
          - sar
          - bgn
          - kes
          - sgd
          - kwd
          - zar
          - cny
          - myr
          - hrk
          - mxn
          - thb
          - try
          - omr
          - ugx
          - hkd
          - php
          - aed
          - inr
          - qar
          - idr
          - points
        range:
          type: string
          enum:
          - 1-5000
          - 5001-10000
          - 10001+
        type:
          type: string
    ToqioHttpOkClientResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ClientResponse'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
