openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Lending - Loan API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Lending - Loan
paths:
  /customers/{customerId}/lending/loans/{loanId}/contract:
    get:
      tags:
      - Lending - Loan
      summary: Get a contract
      description: ''
      operationId: getContract
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      - name: loanId
        in: path
        description: Loan ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contract retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkDocumentResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /customers/{customerId}/lending/loans/{loanId}:
    get:
      tags:
      - Lending - Loan
      summary: Get a loan
      description: ''
      operationId: getLoan
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      - name: loanId
        in: path
        description: Loan ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Loan retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkLoanResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /customers/{customerId}/lending/loans/find:
    post:
      tags:
      - Lending - Loan
      summary: Get loans by filter
      description: ''
      operationId: getLoansByFilter
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanFilter'
        required: true
      responses:
        '200':
          description: Loans retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkLoanResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
  /customers/{customerId}/lending/loans/{loanId}/transactions:
    get:
      tags:
      - Lending - Loan
      summary: Get loan transactions
      description: ''
      operationId: getLoanTransactions
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      - name: loanId
        in: path
        description: Loan ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Loan transactions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkLoanTransactionResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
components:
  schemas:
    LoanFilter:
      type: object
      properties:
        productType:
          type: string
          enum:
          - CASH_ADVANCE
          - SHORT_TERM_LOAN
        fundingDate:
          type: string
        status:
          type: string
          enum:
          - PENDING_TO_BE_FUNDED
          - FUNDED
          - REPAID
          - IN_DEFAULT
        merchantId:
          type: string
        customerId:
          type: string
    LoanTransactionResponse:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
          format: double
        currencyISOCode:
          type: string
        date:
          type: string
        loanId:
          type: string
    RepaymentTerms:
      type: object
      properties:
        basisPoint:
          type: number
          format: double
        estimatedDays:
          type: integer
          format: int32
        thresholdAmount:
          type: number
          format: double
        thresholdDuration:
          type: integer
          format: int32
        startsAt:
          type: string
    ToqioHttpOkDocumentResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Document'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    ToqioHttpOkLoanResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LoanResponse'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    Document:
      type: object
      properties:
        base64:
          type: string
        name:
          type: string
    ToqioHttpOkLoanTransactionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LoanTransactionResponse'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    LoanResponse:
      type: object
      properties:
        id:
          type: string
        lendingRequestId:
          type: string
        loanOfferId:
          type: string
        accountId:
          type: string
        customerId:
          type: string
        merchantId:
          type: string
        productType:
          type: string
          enum:
          - CASH_ADVANCE
          - SHORT_TERM_LOAN
        fundingDate:
          type: string
        status:
          type: string
          enum:
          - PENDING_TO_BE_FUNDED
          - FUNDED
          - REPAID
          - IN_DEFAULT
        outstandingAmount:
          type: number
          format: double
        fundedAmount:
          type: number
          format: double
        originalAmount:
          type: number
          format: double
        rateType:
          type: string
          enum:
          - FIXED
        creditRatingScore:
          type: number
          format: double
        repaymentStatus:
          type: number
          format: double
        averageRepaymentStatus:
          type: number
          format: double
        maturityDate:
          type: string
        interestRate:
          type: number
          format: double
        monthlyRepayment:
          type: number
          format: double
        repaymentTerms:
          $ref: '#/components/schemas/RepaymentTerms'
        thresholdAmountReached:
          type: number
          format: double
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
