openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Webhook API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Webhook
paths:
  /webhook/{customerId}:
    post:
      tags:
      - Webhook
      summary: Webhook base endpoint
      description: This endpoint is used to handle webhook notifications.
      operationId: webhook_3
      parameters:
      - name: customerId
        in: path
        description: Customer ID
        required: true
        schema:
          type: string
      - name: notificationBody
        in: query
        description: Notification body
        schema:
          type: object
      - name: headers
        in: header
        description: Request headers
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Notification body
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkVoidResponse'
        '400':
          description: INVALID_REQUEST
        '404':
          description: BANK_NOT_FOUND
  /customers/{customerId}/webhook:
    post:
      tags:
      - Webhook
      summary: Webhook base endpoint
      description: This endpoint is used to handle webhook notifications.
      operationId: webhook_4
      parameters:
      - name: customerId
        in: path
        description: Customer ID
        required: true
        schema:
          type: string
      - name: notificationBody
        in: query
        description: Notification body
        schema:
          type: object
      - name: headers
        in: header
        description: Request headers
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Notification body
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkVoidResponse'
        '400':
          description: INVALID_REQUEST
        '404':
          description: BANK_NOT_FOUND
components:
  schemas:
    ToqioHttpOkVoidResponse:
      type: object
      properties:
        data:
          type: object
          writeOnly: true
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
