openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Dynamic Account Button Configuration API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Dynamic Account Button Configuration
paths:
  /customers/{customerId}/ledgers/marketplaces/{marketplaceKey}/dynamicAccountButton:
    post:
      tags:
      - Dynamic Account Button Configuration
      summary: Create Dynamic Account Button Configuration
      operationId: createDynamicAccountConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicAccountButtonDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DynamicAccountButtonDTO'
        '400':
          description: Dynamic account button configuration already exists. Try to update it.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Custom Ledger Type not found
      security:
      - clientCredentials: []
      deprecated: false
    delete:
      tags:
      - Dynamic Account Button Configuration
      summary: Delete Dynamic Account Button Configuration
      operationId: deleteDynamicAccountConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - clientCredentials: []
      deprecated: false
    get:
      tags:
      - Dynamic Account Button Configuration
      summary: Get Dynamic Account Button Configuration
      operationId: getDynamicAccountButtonConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DynamicAccountButtonDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - clientCredentials: []
      deprecated: false
    put:
      tags:
      - Dynamic Account Button Configuration
      summary: Update Dynamic Account Button Configuration
      operationId: updateDynamicAccountConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicAccountButtonDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DynamicAccountButtonDTO'
        '400':
          description: Dynamic account button configuration already exists. Try to update it.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Custom Ledger Type not found || Dynamic account button configuration not found. Try to create it.
      security:
      - clientCredentials: []
      deprecated: false
components:
  schemas:
    I18nLabel:
      type: object
      properties:
        en:
          type: string
        es:
          type: string
        zh:
          type: string
      title: I18nLabel
    DynamicAccountButtonDTO:
      type: object
      properties:
        texts:
          $ref: '#/components/schemas/I18nLabel'
        marketplaceKey:
          type: string
      required:
      - texts
      - marketplaceKey
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
