openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Direct debit API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Direct debit
paths:
  /customers/{customerId}/directDebit:
    post:
      tags:
      - Direct debit
      summary: Apply Direct Debit
      description: ''
      operationId: applyDirectDebit
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitFilter'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkBooleanResponse'
        '400':
          description: INVALID_REQUEST
        '404':
          description: BANK_NOT_FOUND
  /customers/{customerId}/accounts/{accountId}/mandates/{mandateId}:
    get:
      tags:
      - Direct debit
      summary: Get Mandate Detail
      description: ''
      operationId: getMandateDetail
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: mandateId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ToqioHttpOkMandateDetailResponse'
        '404':
          description: ACCOUNT_ID_NOT_FOUND
  /accounts/{accountId}/mandates:
    get:
      tags:
      - Direct debit
      summary: Get Mandates
      description: ''
      operationId: getMandates
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToqioHttpOkMandateResponse'
        '404':
          description: ACCOUNT_ID_NOT_FOUND
components:
  schemas:
    MandateDetail:
      type: object
      properties:
        merchantName:
          type: string
        mandateStatus:
          type: string
        amount:
          type: number
          format: double
        frequency:
          type: string
          enum:
          - ONCE
          - MONTHLY
          - QUARTERLY
          - SEMI_ANNUALLY
          - ANNUALLY
          - WEEKLY
          - EVERY_TWO_WEEKS
          - EVERY_FOUR_WEEKS
        startDate:
          type: string
          format: date-time
        nextPaymentDate:
          type: string
          format: date-time
    ToqioHttpOkMandateDetailResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MandateDetail'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    DirectDebitFilter:
      type: object
      properties:
        assetType:
          type: string
    ToqioHttpOkBooleanResponse:
      type: object
      properties:
        data:
          type: boolean
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    Mandate:
      type: object
      properties:
        mandateId:
          type: string
        merchantName:
          type: string
        merchantAccountNumber:
          type: string
        merchantSortCode:
          type: string
        merchantIban:
          type: string
        mandateStatus:
          type: string
        frequency:
          type: string
          enum:
          - ONCE
          - MONTHLY
          - QUARTERLY
          - SEMI_ANNUALLY
          - ANNUALLY
          - WEEKLY
          - EVERY_TWO_WEEKS
          - EVERY_FOUR_WEEKS
        currency:
          type: string
          enum:
          - aud
          - chf
          - cad
          - sek
          - usd
          - nok
          - jpy
          - nzd
          - gold
          - gbp
          - eur
          - czk
          - dkk
          - huf
          - pln
          - ron
          - ils
          - rub
          - bhd
          - sar
          - bgn
          - kes
          - sgd
          - kwd
          - zar
          - cny
          - myr
          - hrk
          - mxn
          - thb
          - try
          - omr
          - ugx
          - hkd
          - php
          - aed
          - inr
          - qar
          - idr
          - points
        amount:
          type: number
          format: double
    ToqioHttpOkMandateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Mandate'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
