openapi: 3.2.0
info:
  title: Compliance endpoints User status API
  description: Endpoints to manage the compliance status and user status
  version: v1.0.0
servers:
- url: https://api.sandbox.toq.io/iam/api
  description: Simulation environment
- url: https://api.toq.io/iam/api
  description: Production environment
tags:
- name: User status
paths:
  /iam/api/customers/{customerId}/merchant/{clientId}/provider/{complianceProvider}/user/{userId}/status/{status}:
    put:
      tags:
      - User status
      summary: Update user status
      description: This endpoint allows to update user status
      operationId: updateUserStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: Toqios user ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: status
        in: path
        description: The compliance status to be set
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - INCOMPLETE
          - NOT_ONBOARDING
          - PENDING_KYC_RESULT
          - PENDING_KYB_RESULTS
          - PENDING_KYC_DOCUMENTS
          - PENDING_KYB_DATA
          - PENDING_KYB
          - PENDING_ACCOUNT
          - COMPLETED
          - DECLINED
          - PENDING_USER_INFO
          - PENDING_KYC
          - REJECTED_FROM_QUARANTINE
          - PENDING_ACCOUNT_VALIDATION
          - REJECTED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
components:
  schemas:
    CurrentUserDTO:
      title: CurrentUserDTO
      type: object
      properties:
        id:
          type: string
        alias:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phoneNumer:
          type: string
        phoneCountry:
          type: string
        intnlPhoneNumber:
          type: string
        onboardedAt:
          type: string
          format: date
        companyId:
          type: string
        externalId:
          type: string
        username:
          type: string
        onboardingStatus:
          type: string
          enum:
          - INCOMPLETE
          - NOT_ONBOARDING
          - PENDING_KYC_RESULT
          - PENDING_KYB_RESULTS
          - PENDING_KYC_DOCUMENTS
          - PENDING_KYB_DATA
          - PENDING_KYB
          - PENDING_ACCOUNT
          - COMPLETED
          - DECLINED
          - PENDING_USER_INFO
          - PENDING_KYC
          - REJECTED_FROM_QUARANTINE
          - PENDING_ACCOUNT_VALIDATION
          - REJECTED
        overallComplianceStatus:
          type: string
          enum:
          - FROZEN
          - FULLY_REJECTED
          - FULLY_ACCEPTED
          - PARTIALLY_ACCEPTED
          - IN_PROGRESS
          - NOT_STARTED
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/deletekybdocumentbykey
- https://platform.toq.io/reference/getcomplianceblocksstatusesperprovider
- https://platform.toq.io/reference/updateclientcompliancestatus
- https://platform.toq.io/reference/updatecompanykybdocumentsstatus
- https://platform.toq.io/reference/updatecomplianceblocksstatusesperprovider
- https://platform.toq.io/reference/updateshareholderdocumentstatus
- https://platform.toq.io/reference/updateusercompliancestatus
- https://platform.toq.io/reference/updateuserdocumentstatus
- https://platform.toq.io/reference/updateuserstatus
