openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Provider API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Provider
paths:
  /partnerProducts:
    get:
      tags:
      - Provider
      summary: Get Provider Partner Products
      description: ''
      operationId: getProviderPartnerProducts
      responses:
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToqioHttpOkPartnerProductResponse'
        '400':
          description: Custom exception
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomException'
components:
  schemas:
    CustomException:
      type: object
      properties:
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
        errorOrigin:
          type: string
    I18nLabel:
      type: object
      properties:
        es:
          type: string
        en:
          type: string
        de:
          type: string
        it:
          type: string
        zh:
          type: string
        pt:
          type: string
    PartnerProductResponse:
      type: object
      properties:
        code:
          type: string
        assetType:
          deprecated: true
          type: string
          enum:
          - aud
          - chf
          - cad
          - sek
          - usd
          - nok
          - jpy
          - nzd
          - gold
          - gbp
          - eur
          - czk
          - dkk
          - huf
          - pln
          - ron
          - ils
          - rub
          - bhd
          - sar
          - bgn
          - kes
          - sgd
          - kwd
          - zar
          - cny
          - myr
          - hrk
          - mxn
          - thb
          - try
          - omr
          - ugx
          - hkd
          - php
          - aed
          - inr
          - qar
          - idr
          - points
        assetTypes:
          type: array
          items:
            type: string
            enum:
            - aud
            - chf
            - cad
            - sek
            - usd
            - nok
            - jpy
            - nzd
            - gold
            - gbp
            - eur
            - czk
            - dkk
            - huf
            - pln
            - ron
            - ils
            - rub
            - bhd
            - sar
            - bgn
            - kes
            - sgd
            - kwd
            - zar
            - cny
            - myr
            - hrk
            - mxn
            - thb
            - try
            - omr
            - ugx
            - hkd
            - php
            - aed
            - inr
            - qar
            - idr
            - points
        label:
          $ref: '#/components/schemas/I18nLabel'
        holderBank:
          type: string
        holderBankAddress:
          type: string
        holderBankSWIFT:
          type: string
        correspondentBank:
          type: string
        correspondentBankAddress:
          type: string
        correspondentBankSWIFT:
          type: string
        schemes:
          type: array
          items:
            type: string
            enum:
            - SEPA
            - SEPA_INSTANT
            - INTERLEDGER
            - SWIFT
            - UK_FASTER_PAYMENTS
            - CHAPS
            - FX
            - BACS
            - TARGET2
            - SPEI
            - AUS_PAY_NET
            - EFT
            - NCS
            - CERTIS
            - STRAKSCLEARING_INSTANT
            - INTRADAGCLEARING
            - CHATS
            - GIRO_ZRT
            - IMPS
            - NEFT
            - SKN
            - IBG
            - NORWEGIAN_INTERBANK_CLEARING_SYSTEM
            - PESONET
            - ELIXIR
            - TRANSFOND_SENT_ACH
            - FAST
            - INTERNAL_TRANSFER
            - RIX
            - FEDACH
            - FEDWIRE
            - CHIPS
      required:
      - code
      - assetType
      - label
      - schemes
    ToqioHttpOkPartnerProductResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PartnerProductResponse'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
