openapi: 3.2.0
info:
  title: Toqio Fees API
  version: v1.0.0
  license:
    name: license
  description: 'Operations tagged Fees across 2 of this provider''s published API definitions: toqio-clients-openapi.yml, toqio-fees-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sandbox.toq.io/iam/api
  description: Simulation environment
- url: https://api.toq.io/iam/api
  description: Production environment
- url: https://api.sandbox.toq.io/billing/api
  description: Simulation environment
- url: https://api.toq.io/billing/api
  description: Production environment
tags:
- name: Fees
paths:
  /customers/{customerId}/client/{clientId}/card/fees/{currency}:
    get:
      tags:
      - Fees
      operationId: getCardFees
      summary: Get card fees
      description: This endpoint is deprecated. You should use <a href="https://docs.toq.io/reference/getcardfees"><u>Card Fees</u></a>
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        description: Client to filter by
        example: 6188de9f24e2410001b7ea74
        in: path
        required: true
        schema:
          type: string
      - name: currency
        description: Currency to filter by
        example: GBP
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IssueCardFeeDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: true
    servers:
    - url: https://api.sandbox.toq.io/billing
      description: Simulation environment
    - url: https://api.toq.io/billing
      description: Production environment
  /customers/{customerId}/client/{clientId}/account/fees/{currency}:
    servers:
    - url: https://api.sandbox.toq.io/billing
      description: Simulation environment
    - url: https://api.toq.io/billing
      description: Production environment
    get:
      tags:
      - Fees
      summary: Get account fees
      description: Allows to get the fees of an account
      operationId: getNewAccountFees
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: currency
        in: path
        required: true
        schema:
          type: string
          example: GBP
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  newAccountFee:
                    type: number
                    format: double
                  monthlyAccountFee:
                    type: number
                    format: double
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/clients/{clientId}/transactions/fees:
    servers:
    - url: https://api.sandbox.toq.io/billing
      description: Simulation environment
    - url: https://api.toq.io/billing
      description: Production environment
    post:
      tags:
      - Fees
      summary: Transaction fee
      operationId: TransactionFeeUsingPOST
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: clientId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: provider
        in: query
        description: 'Banking provider of the source account, allowed value: RAILSBANK, MODULR, LOOMIS, CLEARBANK, CURRENCYCLOUD'
        required: true
        schema:
          type: string
      requestBody:
        description: Transaction fees
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - bankPaymentScheme
              - beneficiaryAccountId
              - currency
              - sourceAccountId
              properties:
                amount:
                  type: number
                  format: double
                bankPaymentScheme:
                  type: string
                  example: INTERLEDGER
                beneficiaryAccountId:
                  type: string
                currency:
                  type: string
                  example: GBP
                sourceAccountId:
                  type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: number
                format: double
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
components:
  schemas:
    IssueCardFeeDTO:
      type: object
      properties:
        pricingVirtual:
          type: number
          format: double
          example: 1
        pricingPhysical:
          type: number
          format: double
          example: 0
        monthlyVirtualFee:
          type: number
          format: double
          example: 3
        monthlyPhysicalFee:
          type: number
          format: double
          example: 3
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-refined-from:
- toqio-clients-openapi.yml
- toqio-fees-openapi.yml
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
