openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Lending API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Lending
paths:
  /customers/{customerId}/lending/default-repayment-terms:
    get:
      tags:
      - Lending
      summary: Get default repayment terms
      description: ''
      operationId: getDefaultRepaymentTerms
      parameters:
      - name: customerId
        in: path
        description: Customer ID. Cannot be null or empty.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Default repayment terms retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToqioHttpOkDefaultRepaymentTermsResponse'
        '400':
          description: Invalid request
        '500':
          description: Internal server error
components:
  schemas:
    ToqioHttpOkDefaultRepaymentTermsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/DefaultRepaymentTerms'
        code:
          type: string
          example: OK
        errorSeverity:
          type: string
          example: NONE
        message:
          type: string
          example: Ok
        httpStatus:
          type: integer
          format: int32
          example: 200
        requestId:
          type: string
          example: 26b0f78a-79f9-426d-a20b-79841345ae51
        date:
          type: string
          example: '2024-08-01T00:00:00.000Z'
    DefaultRepaymentTerms:
      type: object
      properties:
        minDailyPercentage:
          type: number
          format: double
        maxDailyPercentage:
          type: number
          format: double
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
