openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Custom Ledger App Texts API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Custom Ledger App Texts
paths:
  /customers/{customerId}/ledgertypes/marketplaces/{marketplaceKey}/texts:
    get:
      tags:
      - Custom Ledger App Texts
      summary: Get the custom Ledger App Texts
      description: Get the custom Ledger App Texts
      operationId: getLedgerTypeTexts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        description: marketplaceKey
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerTypeTextsDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/ledgertypes/texts:
    put:
      tags:
      - Custom Ledger App Texts
      summary: Update the Custom Ledger App Texts
      description: Update the Custom Ledger App Texts
      operationId: updateLedgerTypeTexts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerTypeTextsDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerTypeTextsDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
components:
  schemas:
    LedgerTypeTextsDTO:
      type: object
      required:
      - marketplaceKey
      - texts
      properties:
        marketplaceKey:
          type: string
        texts:
          type: object
          $ref: '#/components/schemas/TextElements'
      example:
        marketplaceKey: testMarketplaceKey
        texts:
          newAccountButton:
            en: testNewAccountButton
            es: testBotonNuevaCuenta
            zh: null
          appTitle:
            en: demoAppTitle
            es: testTituloApp
            zh: null
          currentBalanceTooltip:
            en: Current Balance
            es: Balance actual
            zh: null
          currentBalanceTitle:
            en: Current Balance
            es: Balance actual
            zh: null
    TextTranslation:
      type: object
      properties:
        en:
          type: string
          nullable: true
        es:
          type: string
          nullable: true
        zh:
          type: string
          nullable: true
    TextElements:
      type: object
      properties:
        newAccountButton:
          $ref: '#/components/schemas/TextTranslation'
        appTitle:
          $ref: '#/components/schemas/TextTranslation'
        currentBalanceTooltip:
          $ref: '#/components/schemas/TextTranslation'
        currentBalanceTitle:
          $ref: '#/components/schemas/TextTranslation'
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
