openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account Client accounts information API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: Client accounts information
paths:
  /customers/{customerId}/accounts/client/{clientId}:
    get:
      tags:
      - Client accounts information
      summary: Get client accounts information
      description: Allows to get the information of different accounts of the client filtering by status too.
      operationId: getClientAccounts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        description: clientId
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViewAccountDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
components:
  schemas:
    ViewAccountDTO:
      type: object
      properties:
        accountId:
          type: string
        accountType:
          type: string
        address:
          type: string
        address2:
          type: string
        alias:
          type: string
        amount:
          type: number
          format: double
        assetFlag:
          type: string
        assetSymbol:
          type: string
        assetType:
          type: string
        availableBalance:
          type: number
          format: double
        bicSwift:
          type: string
        bicSwiftForSEPA:
          type: string
        bicSwiftForSWIFT:
          type: string
        canCancelAccount:
          type: boolean
        city:
          type: string
        correspondentBank:
          type: string
        correspondentBankAddress:
          type: string
        correspondentBankSWIFT:
          type: string
        countryCode:
          type: string
        createdAt:
          type: string
          format: date-time
        hasBillingPayment:
          type: boolean
        holderAddress:
          type: string
        holderBank:
          type: string
        holderBankAddress:
          type: string
        holderName:
          type: string
        iban:
          type: string
        id:
          type: string
        internationalEnabled:
          type: boolean
        main:
          type: boolean
        partnerProduct:
          type: string
        postalCode:
          type: string
        status:
          type: string
          enum:
          - REMOVED
          - CANCELLED
          - ACTIVATED
          - PENDING
        totalBalance:
          type: number
          format: double
        totalExpenses:
          type: number
          format: double
        ukAccountNumber:
          type: string
        ukSortCode:
          type: string
        userId:
          type: string
        readOnly:
          type: boolean
        wireRoutingNumber:
          type: string
          description: This only affects to Currency Cloud users
        achRoutingNumber:
          type: string
          description: This only affects to Currency Cloud users
        ibanForSwift:
          type: string
          description: This only affects to Currency Cloud users
      title: ViewAccountDTO
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
