openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts Account JWT validation API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
tags:
- name: JWT validation
paths:
  /customers/{customerId}/jwt/validate:
    post:
      tags:
      - JWT validation
      summary: Validate JWT token
      description: Validates a JWT token sent in the request body. Returns validation status and error message if invalid.
      operationId: validateJWTSecure
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JWT token to validate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JwtValidationRequestDTO'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtValidationDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Error
      deprecated: false
      security:
      - clientCredentials: []
components:
  schemas:
    JwtValidationDTO:
      title: JwtValidationDTO
      type: object
      properties:
        valid:
          type: boolean
        errorMessage:
          type: string
          description: errorMessage will only provide a value if valid is false
    JwtValidationRequestDTO:
      title: JwtValidationRequestDTO
      type: object
      required:
      - jwt
      properties:
        jwt:
          type: string
          description: The JWT token to validate
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
