openapi: 3.2.0
info:
  description: Endpoints to manage the client (company or individual) and their data
  version: v1.0.0
  title: Clients User credentials API
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/iam/api
  description: Simulation environment
- url: https://api.toq.io/iam/api
  description: Production environment
tags:
- name: User credentials
paths:
  /customers/{customerId}/credentials/generateCustomerKey:
    post:
      tags:
      - User credentials
      summary: Generate customer key
      description: Allow to generate a key to encript the credentials data. You must keep it in a secure place as we do not have access to it. If you lose it, you will need to contact the support team to generate a new one.
      operationId: customerKey
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/securityCode:
    post:
      tags:
      - User credentials
      summary: Create security code
      description: Allow the user to set up their own security code.
      operationId: setCredentialsSecurityCode
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialSecurityCodeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/password:
    post:
      tags:
      - User credentials
      summary: Create password
      description: Allow the user to set up their password.
      operationId: setUserPassword
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialPasswordDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/securityQuestions:
    post:
      tags:
      - User credentials
      summary: Create security questions
      description: Allow the user to set up their own security question answers. This is only required to Modulr customer
      operationId: userCredentialSecurityQuestion
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialSecurityQuestionsDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
  /customers/{customerId}/clients/{clientId}/users/{userId}/credentials/username:
    post:
      tags:
      - User credentials
      summary: Create username
      description: Allow the user to set up their own username
      operationId: userCredentialsUsername
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentialUsernameDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - clientCredentials: []
components:
  schemas:
    UserCredentialUsernameDTO:
      required:
      - transactionId
      - username
      type: object
      properties:
        username:
          type: string
          description: Username without encryption
        transactionId:
          type: string
          description: Version 4 UUID
    UserCredentialSecurityCodeDTO:
      required:
      - securityCode
      - transactionId
      type: object
      properties:
        securityCode:
          type: string
          description: Encrypted security code
        transactionId:
          type: string
          description: Version 4 UUID
    UserCredentialSecurityQuestionsDTO:
      required:
      - transactionId
      type: object
      properties:
        transactionId:
          type: string
          description: Version 4 UUID
        firstPetName:
          type: string
        maternalGrandmotherMaidenName:
          type: string
        favoriteChildhoodFriend:
          type: string
        firstCar:
          type: string
        cityParentsMet:
          type: string
    UserCredentialPasswordDTO:
      required:
      - password
      - transactionId
      type: object
      properties:
        password:
          type: string
          description: Encrypted password
        transactionId:
          type: string
          description: Version 4 UUID
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/customerkey
- https://platform.toq.io/reference/deleteclientusingdelete
- https://platform.toq.io/reference/freezecompanyusingput
- https://platform.toq.io/reference/getcardfees
- https://platform.toq.io/reference/getclientsusingget
- https://platform.toq.io/reference/getclientusingget
- https://platform.toq.io/reference/getuserusingget
- https://platform.toq.io/reference/inviteuser
- https://platform.toq.io/reference/rejectclientusingput
- https://platform.toq.io/reference/setcredentialssecuritycode
- https://platform.toq.io/reference/setuserpassword
- https://platform.toq.io/reference/unfreezecompanyusingput
- https://platform.toq.io/reference/usercredentialsecurityquestion
- https://platform.toq.io/reference/usercredentialsusername
