openapi: 3.0.1
info:
  title: Security
  description: JWT validation
  version: '100'
servers:
- url: https://api.sandbox.toq.io/iam/api
  description: Simulation environment
- url: https://api.toq.io/iam/api
  description: Production environment
paths:
  /customers/{customerId}/jwt/validate:
    post:
      tags:
      - JWT validation
      summary: Validate JWT token
      description: Validates a JWT token sent in the request body. Returns validation
        status and error message if invalid.
      operationId: validateJWTSecure
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: JWT token to validate
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JwtValidationRequestDTO'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtValidationDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Error
      deprecated: false
      security:
      - clientCredentials: []
components:
  schemas:
    JwtValidationRequestDTO:
      title: JwtValidationRequestDTO
      type: object
      required:
      - jwt
      properties:
        jwt:
          type: string
          description: The JWT token to validate
    JwtValidationDTO:
      title: JwtValidationDTO
      type: object
      properties:
        valid:
          type: boolean
        errorMessage:
          type: string
          description: errorMessage will only provide a value if valid is false
  securitySchemes:
    bearer-jwt:
      type: oauth2
      flows:
        password:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/validatejwtsecure
security:
- bearer-jwt:
  - read
  - write
