openapi: 3.0.1
info:
  title: Compliance endpoints
  description: Endpoints to manage the compliance status and user status
  version: v1.0.0
servers:
- url: https://api.sandbox.toq.io/iam/api
  description: Simulation environment
- url: https://api.toq.io/iam/api
  description: Production environment
paths:
  /iam/api/customers/{customerId}/merchant/{clientId}/provider/{complianceProvider}/document/{documentKey}:
    delete:
      tags:
      - Compliance
      summary: Deletes a merchants KYB document
      description: This endpoint will delete a KYB document previously uploaded through
        the platform or using pre-signed URL endpoint
      operationId: deleteKybDocumentByKey
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the document is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: documentKey
        in: path
        description: documentKey of the document to be deleted, provided when uploading
          using the pre-signed URL endpoint
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: documentId
        in: query
        description: If the document was uploaded through the platform, a documentId
          is returned. This documentId is required to delete the document
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteKYBDocumentDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/{clientId}/provider/{complianceProvider}/complianceStatuses:
    get:
      tags:
      - Compliance
      summary: Get compliance statuses for a company
      description: This endpoint allows to get compliance statuses for a company
      operationId: getComplianceBlocksStatusesPerProvider
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResponseDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
    put:
      tags:
      - Compliance
      summary: Update compliance statuses for a company
      description: This endpoint allows to update compliance statuses for a company
      operationId: updateComplianceBlocksStatusesPerProvider
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: updateCompanyKybDocumentsDTO
        in: query
        description: List of documents to update
        required: true
        explode: false
        schema:
          $ref: '#/components/schemas/UpdateComplianceDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceStatusDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/{clientId}/provider/{complianceProvider}/updateComplianceStatus:
    put:
      tags:
      - Compliance
      summary: Updates the compliance status of a client
      description: This endpoint updates the compliance status of a client
      operationId: updateClientComplianceStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceStatusUpdateDTO
        in: query
        description: Object with the statuses to be updated
        required: true
        explode: false
        schema:
          $ref: '#/components/schemas/ComplianceStatusUpdateDTO'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/{clientId}/kybDocuments/status:
    put:
      tags:
      - Compliance
      summary: Update company kyb document status
      description: This endpoint allows to update company kyb document status
      operationId: updateCompanyKybDocumentsStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: updateCompanyKybDocumentsDTO
        in: query
        description: List of documents to update
        required: true
        explode: false
        schema:
          $ref: '#/components/schemas/UpdateCompanyKyxDocumentsDTO'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/${clientId}/shareholders/${shareholderId}/documents/status:
    put:
      tags:
      - Compliance
      summary: Update shareholder document status
      description: This endpoint allows to update the shareholder document status
      operationId: updateShareholderDocumentStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: shareholderId
        in: path
        description: Toqios shareholder ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: updateShareholderDocuments
        in: query
        description: List of documents to update
        required: true
        explode: false
        schema:
          $ref: '#/components/schemas/UpdateShareholderDocumentDTO'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/{clientId}/user/{userId}/provider/{complianceProvider}/updateComplianceStatus:
    put:
      tags:
      - Compliance
      summary: Updates the compliance status of a user or shareholder
      description: This endpoint updates the compliance status of a user or shareholder
      operationId: updateUserComplianceStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: Toqios user ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceStatusUpdateDTO
        in: query
        description: Object with the statuses to be updated
        required: true
        explode: false
        schema:
          $ref: '#/components/schemas/ComplianceUserStatusUpdateDTO'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/{clientId}/users/{userId}/provider/{complianceProvider}/documents/status:
    put:
      tags:
      - Compliance
      summary: Update user document status
      description: This endpoint allows to update the user document status
      operationId: updateUserDocumentStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: Toqios user ID
        required: true
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        explode: false
        schema:
          type: string
      - name: userDocumentsDTO
        in: query
        description: List of documents to update
        required: true
        explode: false
        schema:
          $ref: '#/components/schemas/UpdateUserDocumentsDTO'
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
  /iam/api/customers/{customerId}/merchant/{clientId}/provider/{complianceProvider}/user/{userId}/status/{status}:
    put:
      tags:
      - User status
      summary: Update user status
      description: This endpoint allows to update user status
      operationId: updateUserStatus
      parameters:
      - name: customerId
        in: path
        description: Toqios customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: Toqios client ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: complianceProvider
        in: path
        description: The compliance provider the the action is associated with
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: Toqios user ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: status
        in: path
        description: The compliance status to be set
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - INCOMPLETE
          - NOT_ONBOARDING
          - PENDING_KYC_RESULT
          - PENDING_KYB_RESULTS
          - PENDING_KYC_DOCUMENTS
          - PENDING_KYB_DATA
          - PENDING_KYB
          - PENDING_ACCOUNT
          - COMPLETED
          - DECLINED
          - PENDING_USER_INFO
          - PENDING_KYC
          - REJECTED_FROM_QUARANTINE
          - PENDING_ACCOUNT_VALIDATION
          - REJECTED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUserDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
components:
  schemas:
    DeleteKYBDocumentDTO:
      type: object
      properties:
        deleteDocumentMessage:
          type: string
          description: Message indicating if the document was deleted successfully
    ComplianceResponseDTO:
      title: ComplianceResponseDTO
      type: object
      properties:
        businessDetailsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        supportingDocumentsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        boardOfDirectorsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        shareholdersStatus:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
        userProfileStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        overallComplianceStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        pendingTasks:
          type: object
          properties:
            pendingSupportingDocuments:
              type: array
              items:
                type: string
            directorsPendingVerification:
              type: array
              items:
                type: string
            pendingBusinessDetails:
              type: array
              items:
                type: string
    ComplianceStatusUpdateDTO:
      title: ComplianceStatusUpdateDTO
      type: object
      properties:
        status:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        accountId:
          type: integer
        directors:
          type: array
          items:
            $ref: '#/components/schemas/DirectorDTO'
        finalisedManually:
          type: boolean
        clientId:
          type: string
          description: Client id
    DirectorDTO:
      title: DirectorDTO
      type: object
      properties:
        userId:
          type: string
          description: User id
        status:
          type: string
          description: User compliance status
          nullable: false
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
    StatusDocumentDTO:
      title: StatusDocumentDTO
      type: object
      properties:
        id:
          type: string
          description: id of the document
        externalId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - UNDER_REVIEW
          - COMPLETED
          - DECLINED
        errorMessage:
          type: string
    UpdateCompanyKyxDocumentsDTO:
      title: UpdateCompanyKyxDocumentsDTO
      type: object
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/StatusDocumentDTO'
    UpdateComplianceDTO:
      type: object
      properties:
        businessDetailsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        supportingDocumentsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        boardOfDirectorsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        shareholdersStatus:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
        overallComplianceStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
    ComplianceStatusDTO:
      type: object
      properties:
        businessDetailsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        supportingDocumentsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        boardOfDirectorsStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
        shareholdersStatus:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
        overallComplianceStatus:
          type: string
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
    UpdateShareholderDocumentDTO:
      title: UpdateShareholderDocumentDTO
      type: object
      properties:
        externalId:
          type: string
          description: external id of the identification document
        frontSideDocStatus:
          type: string
          description: front status of the identification document
          enum:
          - IN_PROGRESS
          - UNDER_REVIEW
          - COMPLETED
          - DECLINED
        backSideDocStatus:
          type: string
          description: back status of the identification document
          enum:
          - IN_PROGRESS
          - UNDER_REVIEW
          - COMPLETED
          - DECLINED
        errorMessage:
          type: string
          description: errorMessage of the identification document
        documents:
          type: array
          items:
            $ref: '#/components/schemas/StatusDocumentDTO'
    ComplianceUserStatusUpdateDTO:
      title: ComplianceUserStatusUpdateDTO
      type: object
      properties:
        userId:
          type: string
          description: user id
        customerId:
          type: string
          description: customer id
        clientId:
          type: string
          description: client id
        status:
          type: string
          description: user compliance status
          nullable: false
          enum:
          - IN_PROGRESS
          - COMPLETED
          - UNDER_REVIEW
          - DECLINED
          - PENDING
          - VERIFYING
          - VERIFIED
          - REFERRED
          - ACCEPTED
          - NOT_STARTED
          - CLOSE
          - OVERRIDE_COMPLIANCE
          - ADDED_BY_ADMIN
    UpdateUserDocumentsDTO:
      title: UpdateUserDocumentsDTO
      type: object
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/StatusDocumentDTO'
    CurrentUserDTO:
      title: CurrentUserDTO
      type: object
      properties:
        id:
          type: string
        alias:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phoneNumer:
          type: string
        phoneCountry:
          type: string
        intnlPhoneNumber:
          type: string
        onboardedAt:
          type: string
          format: date
        companyId:
          type: string
        externalId:
          type: string
        username:
          type: string
        onboardingStatus:
          type: string
          enum:
          - INCOMPLETE
          - NOT_ONBOARDING
          - PENDING_KYC_RESULT
          - PENDING_KYB_RESULTS
          - PENDING_KYC_DOCUMENTS
          - PENDING_KYB_DATA
          - PENDING_KYB
          - PENDING_ACCOUNT
          - COMPLETED
          - DECLINED
          - PENDING_USER_INFO
          - PENDING_KYC
          - REJECTED_FROM_QUARANTINE
          - PENDING_ACCOUNT_VALIDATION
          - REJECTED
        overallComplianceStatus:
          type: string
          enum:
          - FROZEN
          - FULLY_REJECTED
          - FULLY_ACCEPTED
          - PARTIALLY_ACCEPTED
          - IN_PROGRESS
          - NOT_STARTED
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
x-source-pages:
- https://platform.toq.io/reference/deletekybdocumentbykey
- https://platform.toq.io/reference/getcomplianceblocksstatusesperprovider
- https://platform.toq.io/reference/updateclientcompliancestatus
- https://platform.toq.io/reference/updatecompanykybdocumentsstatus
- https://platform.toq.io/reference/updatecomplianceblocksstatusesperprovider
- https://platform.toq.io/reference/updateshareholderdocumentstatus
- https://platform.toq.io/reference/updateusercompliancestatus
- https://platform.toq.io/reference/updateuserdocumentstatus
- https://platform.toq.io/reference/updateuserstatus
