openapi: 3.0.0
info:
  description: Endpoints to manage client accounts
  version: v1.0.0
  title: Accounts
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/wallet/api
  description: Simulation environment
- url: https://api.toq.io/wallet/api
  description: Production environment
paths:
  /customers/{customerId}/accounts:
    post:
      tags:
      - Account information
      summary: Create account
      description: Allows to create a new account
      operationId: createAccountUsingPOST_1
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      requestBody:
        description: createAccountDTO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewAccountDTO'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
    get:
      tags:
      - Get Customer account information
      summary: Get accounts of the customer
      description: Allows to get the accounts of a customer
      operationId: getAccountsUsingGET
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViewCustomerAccountDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/ledgers/marketplaces/{marketplaceKey}/dynamicAccountButton:
    post:
      tags:
      - Dynamic Account Button Configuration
      summary: Create Dynamic Account Button Configuration
      operationId: createDynamicAccountConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicAccountButtonDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DynamicAccountButtonDTO'
        '400':
          description: Dynamic account button configuration already exists. Try to
            update it.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Custom Ledger Type not found
      security:
      - clientCredentials: []
      deprecated: false
    delete:
      tags:
      - Dynamic Account Button Configuration
      summary: Delete Dynamic Account Button Configuration
      operationId: deleteDynamicAccountConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - clientCredentials: []
      deprecated: false
    get:
      tags:
      - Dynamic Account Button Configuration
      summary: Get Dynamic Account Button Configuration
      operationId: getDynamicAccountButtonConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DynamicAccountButtonDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - clientCredentials: []
      deprecated: false
    put:
      tags:
      - Dynamic Account Button Configuration
      summary: Update Dynamic Account Button Configuration
      operationId: updateDynamicAccountConfiguration
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicAccountButtonDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DynamicAccountButtonDTO'
        '400':
          description: Dynamic account button configuration already exists. Try to
            update it.
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Custom Ledger Type not found || Dynamic account button configuration
            not found. Try to create it.
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/products:
    post:
      tags:
      - Account information
      summary: Create product
      description: Creates a new product for the customer, optionally linked to a
        banking provider, a ledger type and a marketplace. Products are the catalog
        entries clients are enrolled in and define which partner products and account
        types are available to them.
      operationId: createProduct
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '400':
          description: PRODUCT_ALREADY_EXISTS, ERROR_PARTNER_PRODUCT_NOT_VALID
        '417':
          description: ERROR_CUSTOMER_NOT_FOUND
      security:
      - clientCredentials: []
      deprecated: false
    get:
      tags:
      - Account information
      summary: Get products
      description: Returns the list of products for the customer, optionally filtered
        by banking provider, visibility flag, ledger type or marketplace key. All
        filter parameters are optional; when omitted, the full catalog visible to
        the customer is returned.
      operationId: getProducts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: bankingProvider
        in: query
        required: false
        schema:
          type: string
          description: 'Banking provider of the product, allowed value: RAILSBANK,
            MODULR, LOOMIS, CLEARBANK, CURRENCYCLOUD, ORBITAL, DIVILO, AIRWALLEX'
      - name: visible
        in: query
        required: false
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: ledgerTypeId
        in: query
        required: false
        schema:
          type: string
      - name: marketplaceKey
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductDTO'
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/accounts/{accountId}/merchant/{clientId}/status/{accountStatus}:
    delete:
      tags:
      - Delete Account
      summary: Allows cancelling or removing a specified account. A cancelled account
        remains visible in the UI, while a removed account is no longer shown
      description: Allows to cancel or delete a given account
      operationId: deleteAccountStatusViaAPIUsingDELETE
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: accountId
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        description: clientId
        required: true
        schema:
          type: string
      - name: accountStatus
        in: path
        description: CANCELLED or DELETED
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/accounts/{accountId}:
    put:
      tags:
      - Account information
      summary: Cancel account
      description: Allows to cancel a given account
      operationId: deleteAccountViaAPIUsingPUT
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewAccountDTO'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: true
    get:
      tags:
      - Account information
      summary: Get account
      description: Allows to get the details of an account for a given client
      operationId: getAccountUsingGET
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewAccountDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /customers/{customerId}/accounts/client/{clientId}:
    get:
      tags:
      - Client accounts information
      summary: Get client accounts information
      description: Allows to get the information of different accounts of the client
        filtering by status too.
      operationId: getClientAccounts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        description: clientId
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: status
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ViewAccountDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/marketplaces/{marketplaceKey}/custom/faculties:
    get:
      tags:
      - Custom Faculties
      summary: Get Custom Faculties
      operationId: getCustomFaculties
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        description: marketplaceKey
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: string
                example:
                  CUSTOM_FACULTY_1: true
                  CUSTOM_FACULTY_2: false
                  CUSTOM_FACULTY_3: true
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
    put:
      tags:
      - Custom Faculties
      summary: Update Custom faculties
      operationId: updateCustomFaculties
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
              example:
                CUSTOM_FACULTY_1: true
                CUSTOM_FACULTY_2: false
                CUSTOM_FACULTY_3: true
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Missmatching params needed
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Custom Ledger Type not found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/ledgertypes/marketplaces/{marketplaceKey}/texts:
    get:
      tags:
      - Custom Ledger App Texts
      summary: Get the custom Ledger App Texts
      description: Get the custom Ledger App Texts
      operationId: getLedgerTypeTexts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: marketplaceKey
        in: path
        description: marketplaceKey
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerTypeTextsDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/clients/{clientId}/partnerProducts:
    get:
      tags:
      - Account information
      summary: Get partner products
      description: Allows to get the partner products of a given client
      operationId: getPartnerProductsUsingGET_1
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        description: clientId
        required: true
        schema:
          type: string
      - name: countryCode
        in: query
        description: countryCode
        required: true
        schema:
          type: string
          description: This field expect the code ISO 3166 of the country.
      - name: provider
        in: query
        description: 'Banking provider of the source account, allowed value: RAILSBANK,
          MODULR, LOOMIS, CLEARBANK, CURRENCYCLOUD'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PartnerProductDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/merchant/{companyId}/accounts/{accountId}/alias:
    put:
      tags:
      - Account information
      summary: Update account alias
      description: Updates the alias of an account for a specific merchant.
      operationId: updateAccountAlias
      parameters:
      - name: customerId
        in: path
        description: ID of the customer making the request
        required: true
        schema:
          type: string
      - name: companyId
        in: path
        description: ID of the merchant company
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: ID of the account to update
        required: true
        schema:
          type: string
      requestBody:
        description: DTO containing the new alias data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountAliasDataDTO'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewAccountDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/accounts/{accountId}/readOnly/{readOnly}:
    put:
      tags:
      - Account information
      summary: Update Account Read Only
      description: Allows to update a certain account to readOnly
      operationId: updateAccountReadOnlyStatus
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: readOnly
        in: path
        description: readOnly
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewAccountDTO'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/ledgertypes/texts:
    put:
      tags:
      - Custom Ledger App Texts
      summary: Update the Custom Ledger App Texts
      description: Update the Custom Ledger App Texts
      operationId: updateLedgerTypeTexts
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerTypeTextsDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerTypeTextsDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/products/{productId}:
    put:
      tags:
      - Account information
      summary: Update product details
      description: Updates the metadata of an existing product (name, description,
        image, visibility). Products group the partner products that a client can
        be enrolled in and drive the catalog displayed in the onboarding and account-opening
        flows.
      operationId: updateProduct
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        schema:
          type: string
      - name: productId
        in: path
        description: productId
        required: true
        schema:
          type: string
      requestBody:
        description: updateProductRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '403':
          description: PRODUCT_UPDATE_FORBIDDEN
        '404':
          description: PRODUCT_NOT_FOUND
      security:
      - clientCredentials: []
      deprecated: false
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
  schemas:
    CreateAccountDTO:
      type: object
      required:
      - alias
      - assetType
      - companyId
      - userId
      - bankingProvider
      - productId
      properties:
        accountType:
          type: string
          description: Account type refers to the partner product of the account.
            To see available partner products use the partner product endpoint detailed
            in this documentation
          deprecated: true
        alias:
          type: string
          description: Account alias
          maximum: 25
        assetType:
          type: string
          description: Currency of your account
          example: GBP
        readOnly:
          type: boolean
        companyId:
          type: string
          description: Identification of the company the account will belong to
        userId:
          type: string
          description: Identification of the user
        bankingProvider:
          type: string
          description: 'Banking provider of the account, allowed value: RAILSBANK,
            MODULR, LOOMIS, CLEARBANK, CURRENCYCLOUD'
        productId:
          type: string
          description: Identification of the product the account will belong to
      title: CreateAccountViaAPIDTO
    ViewAccountDTO:
      type: object
      properties:
        accountId:
          type: string
        accountType:
          type: string
        address:
          type: string
        address2:
          type: string
        alias:
          type: string
        amount:
          type: number
          format: double
        assetFlag:
          type: string
        assetSymbol:
          type: string
        assetType:
          type: string
        availableBalance:
          type: number
          format: double
        bicSwift:
          type: string
        bicSwiftForSEPA:
          type: string
        bicSwiftForSWIFT:
          type: string
        canCancelAccount:
          type: boolean
        city:
          type: string
        correspondentBank:
          type: string
        correspondentBankAddress:
          type: string
        correspondentBankSWIFT:
          type: string
        countryCode:
          type: string
        createdAt:
          type: string
          format: date-time
        hasBillingPayment:
          type: boolean
        holderAddress:
          type: string
        holderBank:
          type: string
        holderBankAddress:
          type: string
        holderName:
          type: string
        iban:
          type: string
        id:
          type: string
        internationalEnabled:
          type: boolean
        main:
          type: boolean
        partnerProduct:
          type: string
        postalCode:
          type: string
        status:
          type: string
          enum:
          - REMOVED
          - CANCELLED
          - ACTIVATED
          - PENDING
        totalBalance:
          type: number
          format: double
        totalExpenses:
          type: number
          format: double
        ukAccountNumber:
          type: string
        ukSortCode:
          type: string
        userId:
          type: string
        readOnly:
          type: boolean
        wireRoutingNumber:
          type: string
          description: This only affects to Currency Cloud users
        achRoutingNumber:
          type: string
          description: This only affects to Currency Cloud users
        ibanForSwift:
          type: string
          description: This only affects to Currency Cloud users
      title: ViewAccountDTO
    DynamicAccountButtonDTO:
      type: object
      properties:
        texts:
          $ref: '#/components/schemas/I18nLabel'
        marketplaceKey:
          type: string
      required:
      - texts
      - marketplaceKey
    I18nLabel:
      type: object
      properties:
        en:
          type: string
        es:
          type: string
        zh:
          type: string
      title: I18nLabel
    CreateProductDTO:
      type: object
      properties:
        bankingProvider:
          type: string
        partnerProduct:
          type: string
        name:
          $ref: '#/components/schemas/I18nLabel'
        description:
          $ref: '#/components/schemas/I18nLabel'
        ledgerTypeId:
          type: string
        visible:
          type: boolean
        marketplaceKey:
          type: string
        productImageBase64:
          type: string
        productImageName:
          type: string
    ProductDTO:
      type: object
      properties:
        id:
          type: string
        bankingProvider:
          type: string
        customerId:
          type: string
        ledgerTypeId:
          type: string
        visible:
          type: boolean
        marketplaceKey:
          type: string
        name:
          $ref: '#/components/schemas/I18nLabel'
        description:
          $ref: '#/components/schemas/I18nLabel'
        partnerProduct:
          $ref: '#/components/schemas/PartnerProductResponse'
    PartnerProductResponse:
      type: object
      properties:
        code:
          type: string
        bankingProvider:
          type: string
        assetType:
          deprecated: true
          type: string
          enum:
          - aud
          - chf
          - cad
          - sek
          - usd
          - nok
          - jpy
          - nzd
          - gold
          - gbp
          - eur
          - czk
          - dkk
          - huf
          - pln
          - ron
          - ils
          - rub
          - rub
          - bhd
          - sar
          - bgn
          - kes
          - sgd
          - kwd
          - zar
          - cny
          - myr
          - hrk
          - mxn
          - thb
          - try
          - omr
          - ugx
          - hkd
          - php
          - aed
          - inr
          - qar
          - idr
          - points
        assetTypes:
          type: array
          items:
            type: string
            enum:
            - aud
            - chf
            - cad
            - sek
            - usd
            - nok
            - jpy
            - nzd
            - gold
            - gbp
            - eur
            - czk
            - dkk
            - huf
            - pln
            - ron
            - ils
            - rub
            - bhd
            - sar
            - bgn
            - kes
            - sgd
            - kwd
            - zar
            - cny
            - myr
            - hrk
            - mxn
            - thb
            - try
            - omr
            - ugx
            - hkd
            - php
            - aed
            - inr
            - qar
            - idr
            - points
        label:
          $ref: '#/components/schemas/I18nLabel'
        holderBank:
          type: string
        holderBankAddress:
          type: string
        holderBankSWIFT:
          type: string
        correspondentBank:
          type: string
        correspondentBankAddress:
          type: string
        correspondentBankSWIFT:
          type: string
        schemes:
          type: array
          items:
            type: string
            enum:
            - SEPA
            - SEPA_INSTANT
            - INTERLEDGER
            - SWIFT
            - UK_FASTER_PAYMENTS
            - CHAPS
            - FX
            - BACS
            - TARGET2
            - SPEI
            - AUS_PAY_NET
            - EFT
            - NCS
            - CERTIS
            - STRAKSCLEARING_INSTANT
            - INTRADAGCLEARING
            - CHATS
            - GIRO_ZRT
            - IMPS
            - NEFT
            - SKN
            - IBG
            - NORWEGIAN_INTERBANK_CLEARING_SYSTEM
            - PESONET
            - ELIXIR
            - TRANSFOND_SENT_ACH
            - FAST
            - INTERNAL_TRANSFER
            - RIX
            - FEDACH
            - FEDWIRE
            - CHIPS
      required:
      - code
      - assetType
      - label
      - schemes
    ViewCustomerAccountDTO:
      type: object
      properties:
        accountId:
          type: string
        clientId:
          type: string
        assetType:
          type: string
        iban:
          type: string
        bicSwift:
          type: string
        ukAccountNumber:
          type: string
        ukSortCode:
          type: string
    LedgerTypeTextsDTO:
      type: object
      required:
      - marketplaceKey
      - texts
      properties:
        marketplaceKey:
          type: string
        texts:
          type: object
          $ref: '#/components/schemas/TextElements'
      example:
        marketplaceKey: testMarketplaceKey
        texts:
          newAccountButton:
            en: testNewAccountButton
            es: testBotonNuevaCuenta
            zh: null
          appTitle:
            en: demoAppTitle
            es: testTituloApp
            zh: null
          currentBalanceTooltip:
            en: Current Balance
            es: Balance actual
            zh: null
          currentBalanceTitle:
            en: Current Balance
            es: Balance actual
            zh: null
    TextElements:
      type: object
      properties:
        newAccountButton:
          $ref: '#/components/schemas/TextTranslation'
        appTitle:
          $ref: '#/components/schemas/TextTranslation'
        currentBalanceTooltip:
          $ref: '#/components/schemas/TextTranslation'
        currentBalanceTitle:
          $ref: '#/components/schemas/TextTranslation'
    TextTranslation:
      type: object
      properties:
        en:
          type: string
          nullable: true
        es:
          type: string
          nullable: true
        zh:
          type: string
          nullable: true
    PartnerProductDTO:
      type: object
      properties:
        assetType:
          deprecated: true
          type: string
          enum:
          - GBP
          - EUR
          - AUD
          - CHF
          - CAD
          - SEK
          - USD
          - NOK
          - JPY
          - SGD
          - NZD
          - CZK
          - DKK
          - HUF
          - PLN
          - RON
        assetTypes:
          type: array
          items:
            type: string
            enum:
            - aud
            - chf
            - cad
            - sek
            - usd
            - nok
            - jpy
            - nzd
            - gold
            - gbp
            - eur
            - czk
            - dkk
            - huf
            - pln
            - ron
            - ils
            - rub
            - bhd
            - sar
            - bgn
            - kes
            - sgd
            - kwd
            - zar
            - cny
            - myr
            - hrk
            - mxn
            - thb
            - try
            - omr
            - ugx
            - hkd
            - php
            - aed
            - inr
            - qar
            - idr
            - points
        code:
          type: string
        correspondentBank:
          type: string
        correspondentBankAddress:
          type: string
        correspondentBankSWIFT:
          type: string
        holderBank:
          type: string
        holderBankAddress:
          type: string
        holderBankSWIFT:
          type: string
        label:
          type: object
          properties:
            de:
              type: string
            default:
              type: string
            en:
              type: string
            es:
              type: string
          title: I18nLabel
        schemes:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              name:
                type: string
            title: BankPaymentScheme
      title: PartnerProductDTO
    UpdateAccountAliasDataDTO:
      type: object
      title: UpdateAccountAliasDataDTO
      required:
      - alias
      properties:
        alias:
          type: string
          description: The new alias for the account.
          minLength: 4
          maxLength: 25
    UpdateProductRequest:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/I18nLabel'
        description:
          $ref: '#/components/schemas/I18nLabel'
        visible:
          type: boolean
        productImageBase64:
          type: string
        productImageName:
          type: string
x-source-pages:
- https://platform.toq.io/reference/createaccountusingpost_1
- https://platform.toq.io/reference/createdynamicaccountconfiguration
- https://platform.toq.io/reference/createproduct
- https://platform.toq.io/reference/deleteaccountstatusviaapiusingdelete
- https://platform.toq.io/reference/deleteaccountviaapiusingput
- https://platform.toq.io/reference/deletedynamicaccountconfiguration
- https://platform.toq.io/reference/getaccountsusingget
- https://platform.toq.io/reference/getaccountusingget
- https://platform.toq.io/reference/getclientaccounts
- https://platform.toq.io/reference/getcustomfaculties
- https://platform.toq.io/reference/getdynamicaccountbuttonconfiguration
- https://platform.toq.io/reference/getledgertypetexts
- https://platform.toq.io/reference/getpartnerproductsusingget_1
- https://platform.toq.io/reference/getproducts
- https://platform.toq.io/reference/updateaccountalias
- https://platform.toq.io/reference/updateaccountreadonlystatus
- https://platform.toq.io/reference/updatecustomfaculties
- https://platform.toq.io/reference/updatedynamicaccountconfiguration
- https://platform.toq.io/reference/updateledgertypetexts
- https://platform.toq.io/reference/updateproduct
