openapi: 3.0.0
info:
  description: Endpoints to manage client fees
  version: v1.0.0
  title: Fees
  license:
    name: license
servers:
- url: https://api.sandbox.toq.io/billing/api
  description: Simulation environment
- url: https://api.toq.io/billing/api
  description: Production environment
paths:
  /customers/{customerId}/client/{clientId}/card/fees/{currency}:
    servers:
    - url: https://api.sandbox.toq.io/billing
      description: Simulation environment
    - url: https://api.toq.io/billing
      description: Production environment
    get:
      tags:
      - Fees
      operationId: getCardFees
      summary: Get card fees
      description: Allows to get the fees of a card. For both virtual and physical
        cards
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        description: Client to filter by
        example: 6188de9f24e2410001b7ea74
        in: path
        required: true
        schema:
          type: string
      - name: currency
        description: Currency to filter by
        example: GBP
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IssueCardFeeDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/client/{clientId}/account/fees/{currency}:
    servers:
    - url: https://api.sandbox.toq.io/billing
      description: Simulation environment
    - url: https://api.toq.io/billing
      description: Production environment
    get:
      tags:
      - Fees
      summary: Get account fees
      description: Allows to get the fees of an account
      operationId: getNewAccountFees
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        required: true
        schema:
          type: string
      - name: currency
        in: path
        required: true
        schema:
          type: string
          example: GBP
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  newAccountFee:
                    type: number
                    format: double
                  monthlyAccountFee:
                    type: number
                    format: double
      security:
      - clientCredentials: []
      deprecated: false
  /customers/{customerId}/clients/{clientId}/transactions/fees:
    servers:
    - url: https://api.sandbox.toq.io/billing
      description: Simulation environment
    - url: https://api.toq.io/billing
      description: Production environment
    post:
      tags:
      - Fees
      summary: Transaction fee
      operationId: TransactionFeeUsingPOST
      parameters:
      - name: customerId
        in: path
        description: customerId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: clientId
        in: path
        description: clientId
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: provider
        in: query
        description: 'Banking provider of the source account, allowed value: RAILSBANK,
          MODULR, LOOMIS, CLEARBANK, CURRENCYCLOUD'
        required: true
        schema:
          type: string
      requestBody:
        description: Transaction fees
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - bankPaymentScheme
              - beneficiaryAccountId
              - currency
              - sourceAccountId
              properties:
                amount:
                  type: number
                  format: double
                bankPaymentScheme:
                  type: string
                  example: INTERLEDGER
                beneficiaryAccountId:
                  type: string
                currency:
                  type: string
                  example: GBP
                sourceAccountId:
                  type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: number
                format: double
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
      security:
      - clientCredentials: []
components:
  securitySchemes:
    clientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.toq.io/iam/oauth/token
          scopes: {}
  schemas:
    IssueCardFeeDTO:
      type: object
      properties:
        pricingVirtual:
          type: number
          format: double
          example: 1
        pricingPhysical:
          type: number
          format: double
          example: 0
        monthlyVirtualFee:
          type: number
          format: double
          example: 3
        monthlyPhysicalFee:
          type: number
          format: double
          example: 3
x-source-pages:
- https://platform.toq.io/reference/getcardfees-1
- https://platform.toq.io/reference/getnewaccountfees-1
- https://platform.toq.io/reference/transactionfeeusingpost
